<div class="card white">
    <div class="card-body">
        <h1>Sobre Nosotros</h1>
        <p>El sistema de control de y seguimiento tiene el objetivo de registrar los clientes de<a
                de los asegurados  cuyas polizas de
            seguros no cubra. El objetivo será vigilar que las ordenes de servicio se ejecuten hasta el final. Esto es,
            contactar, visitar, presupuestar, realizar la orden de trabajo, facturar y cobrar el servicio
        </p>
    </div>
</div>