<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="display-4">Enlaces de Interes</h3>
            <ul>
                <li> <a href="#"target= "_blank"> <img src="#"  alt="imagen"> </a> </li><br>
                <li><a href="#"target="_blank"> <img src="#"   alt="imagen"> </a></li><br>
                <li></li>
            </ul>
        </div>
    </div>
</div>